# Socket.IO Configuration
SOCKET_IO_PATH=/kartu41/socket.io

# Base URL/Path untuk deployment
BASE_HREF=/kartu41/

# Flask Secret Key (Generate random key untuk production)
# Gunakan: python -c "import secrets; print(secrets.token_hex(32))"
FLASK_SECRET_KEY=your_secret_key_here

# Flask Environment
FLASK_ENV=development
